
body {
	font-family: "Noto Sans JP";
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	color: dimgray;
}

p {
	margin-bottom: 0;
}

a {
	color: #0073a8;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #82cddd;
	transition-duration: 0.3s;
}

section {
	width: auto;
}

.font-serif {
	font-family: 'Noto Serif JP', serif;
}

.color {
	background: linear-gradient(to right, #0073a8, #82cddd 60%, #bee0ce);
}

.title {
	position: absolute;
	margin: -200px -5%;
	height: 270px;
	min-width: 110%;
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.title-text {
	color: white;
	position: relative;
	font-size: 70px;
	letter-spacing: -1px;
	padding: 0 36px;
	margin: 50px auto;
}

.contents {
	min-width: 1080px;
	width: 1080px;
	margin: 70px auto 0 auto;
}

.contents-inner {
	padding: 60px 60px 80px 60px;
	width: 100%;
}

.profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
}

.profile-text {
	width: 480px;
}

.profile-text p {
	font-size: 15px;
	margin: 0;
}

.profile-text > p:nth-child(n+2):nth-last-child(n+2) {
	margin: 10px 0;
}

.profile-img-box {
	width: 480px;
	height: 480px;
}

.profile-img-under {
	position: absolute;
	opacity: 0.7;
	margin: 120px 0 0 120px;
	width: 300px;
	height: 300px;
	border: 8px solid;
    border-image: linear-gradient(to right, #0073a8, #82cddd 60%, #bee0ce);
    border-image-slice: 1;
}

.profile-img {
	position: absolute;
	margin: 60px 0 0 60px;
	width: 300px;
	height: 300px;
	border-radius: 3px;
	object-fit: cover;
}

.headline {
	width: 100%;
	height: 60px;
	color: white;
	font-size: 30px;
	padding-left: 30px;
	letter-spacing: 2px;
	line-height: 58px;
}

.timeline-box {
	display: flex;
	margin-left: 10px;
}

.timeline-line {
	width: 26px;
	height: auto;
	margin: 25px 0;
}

.line {
	border-left: solid 2px #0073a8;
	min-height: 50px;
	position: relative;
}

.line:first-of-type:before {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
	border: solid 2px #0073a8;
	box-sizing: border-box;
	top: -9px;
	left: -10px;
	z-index: 999;
}

.line:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #0073a8;
	border-radius: 50%;
	box-sizing: border-box;
	bottom: -6px;
	left: -7px;
	z-index: 999;
}

.timeline-text-row {
	height: 50px;
	padding: 0 10px;
	line-height: 50px;
}

.timeline-text-row:not(:last-child) {
	border-bottom: solid 1px #0073a8;
}

.timeline-text {
	letter-spacing: 4px;
	font-size: 15px;
}

.link {
	font-size: 40px;
}

.link i:first-child{
	color: #404040;
}

.link .fa-external-link-alt {
	font-size: 50%;
	margin-left: 10px;
}

#linkCodeTrial {
	color: #404040;
}

.link-intro {
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.link-intro:last-child {
	margin-bottom: 0;
}

.holiday-text p {
	margin: 0;
	font-size: 15px;
}

.holiday-text > p:nth-child(n+2):nth-last-child(n+2) {
	margin: 10px 0;
}

.footer {
	margin: 0;
	width: 100%;
	height: auto;
	padding-top: 30px;
}

/* ーーーーーーーーーーーーー
 * その他
 * ーーーーーーーーーーーーー */
::selection {
    background: #0073a8;
    color: #fff;
}
::-moz-selection {
    background: #0073a8;
    color: #fff;
}